#Filter {
  .main-grid {
    padding: 16px;
    flex-wrap: nowrap;
    column-gap: 16px;
    .txtSearch {
      width: 100%;
      height: 46px;
      padding: 7px 16px;
      border-radius: 8px;
      border: 1px solid #ea8063;
      .MuiInputBase-root {
        height: 30px;
        padding: 0;
        input {
          height: 46px;
          padding: 0;
          &::placeholder {
            color: #92929d;
            font-family: poppins, system-ui, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.2px;
          }
        }
        .MuiInputAdornment-root {
          .icon-search {
            &::before {
              font-size: 24px;
              line-height: 24px;
            }
          }
        }
        fieldset {
          top: 0;
          height: 32px;
          padding: 0;
          border: none;
        }
      }
    }
    .filter-grid {
      padding: 0;
      display: flex;
      align-items: center;
      &.categories-grid {
        min-height: 100%;
        overflow: hidden;
        overflow-x: scroll;
        column-gap: 8px;
        display: flex;
      }
      .btnIcon {
        padding: 0;
        margin-right: 16px;
        .icon-menu {
          font-size: 17px;
          line-height: 17px;
          color: #171725;
        }
      }
      .btnCategory {
        min-width: fit-content;
        max-height: 46px;
        padding: 8px 20px;
        border: 1px solid #ededed;
        border-radius: 16px;
        color: #000;
        font-family: poppins, system-ui, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        text-transform: capitalize;
        &.btnActive {
          border: 1px solid #ea8063;
          background: rgba(234, 128, 99, 0.1);
        }
        .all {
          margin-right: 8px;
        }
      }
    }
  }
}
